<!DOCTYPE html>
<html lang="en" ng-app="gameOfDrones" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Game of Drones</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <!-- <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul> -->

  <div ng-view></div>

  <!-- <div>Angular seed app: v<span app-version></span></div> -->

  <div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active">
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
        </ul>
        <h1 class="text-muted">Game of drones</h1>
    </div>
    <div class="jumbotron">
        <h2>Enter Player's Names</h2>
        <form name="playerForm" ng-controller="ReviewController as reviewCtrl"
                        ng-submit="playerForm.$valid && addPlayers()" novalidate>
          <div class="">
              <div class="form-group lead">
                  <label class="control-label" for="formInput3">Player 1</label>
                  <input type="text" class="form-control" id="formInput3" placeholder="Name" ng-model="reviewCtrl.playerOne" required>
              </div>
              <div class="form-group lead">
                  <label class="control-label" for="formInput23">Player 2</label>
                  <input type="text" class="form-control" id="formInput23" placeholder="Name" ng-model="reviewCtrl.playerTwo" required>
              </div>
          </div>
          <div> playerForm is {{playerForm.$valid}} -
          {{reviewCtrl.playerOne}} - {{reviewCtrl.playerTwo}}</div>
          <table>
            <tr ng-repeat="x in reviewCtrl.players"><td>{{x.name}}</td></tr>
          </table>


          <p><a class="btn btn-lg btn-success" type="submit" role="button" ng-click="reviewCtrl.addPlayers()">Start</a></p>
        </form>

    </div>
    <div class="footer">
        <p>© Gustavo Gard 2014</p>
    </div>
  </div>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="startGame/startGame.js"></script>
  <script src="playerTurn/playerTurn.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
