<div class="jumbotron">
    <h2>Enter Player's Names</h2>
    <form name="playerForm" ng-controller="startGameCtrl as gameCtrl"
                    ng-submit="playerForm.$valid" novalidate>
      <div class="">
          <div class="form-group lead">
              <label class="control-label" for="formInput3">Player 1</label>
              <input type="text" class="form-control" id="formInput3" placeholder="Name" ng-model="playerOne" required>
          </div>
          <div class="form-group lead">
              <label class="control-label" for="formInput23">Player 2</label>
              <input type="text" class="form-control" id="formInput23" placeholder="Name" ng-model="gameCtrl.playerTwo" required>
          </div>
      </div>
      <div> playerForm is {{playerForm.$valid}} -
      {{playerOne}} - {{gameCtrl.playerTwo}}</div>
      <table>
        <tr ng-repeat="x in moves"><td>{{x.name}}</td></tr>
      </table>


      <p><a class="btn btn-lg btn-success" type="submit" role="button"
       ng-controller="startGameCtrl as sCtrl" ng-click="sCtrl.changePath()">Start</a></p>
    </form>

</div>