<div class="row" ng-controller="playerTurnController">
    <div class="col-md-4" ></div>
    <div class="col-md-4 jumbotron ">
        <h2 class="text-center">Round {{playerTurnCtrl.numberOfRounds}}</h2>
        <h2>Player {{playerTurnCtrl.isPlayerOneTurn ? '1' : '2'}} {{playerTurnCtrl.currnetPlayer.name}}</h2>
        <div class="form-group">
            <label class="control-label">Select move</label>
            <select class="form-control" ng-model='playerTurnCtrl.currnetMove' ng-options="move.name for move in playerTurnCtrl.moves">
            </select>
        </div>
        <p>
        <input class="btn btn-lg btn-success btn-full-width" value='Move' type="button" ng-click='playerTurnCtrl.addMove()'>
        </p>
    </div>
    <div class="col-md-3 jumbotron pull-right text-center">
        <h2 >Score</h2>
        <div class="row" >
            <div class="col-md-6">
                <h3 >Round</h3>
            </div>
            <div class="col-md-6">
                <h3>Winner</h3>
            </div>
        </div>
        <div class="row" ng-repeat="score in playerTurnCtrl.scores">
            <div class="col-md-6" >
                <label ng-bind="score.round"></label>
            </div>
            <div class="col-md-6">
              <label ng-bind='score.winner'></label>
            </div>
        </div>
    </div>
</div>
