<div class="jumbotron" ng-controller="playerTurnCtrl as playerCtrl">
    <h2>Round {{numberOfRounds}}</h2>
    <div>
        <label class="control-label" for="formInput23" >{{player}}</label>
    </div>
    <div class="form-group">
        <label class="control-label" for="formInput11">Select move</label>
        <select id="formInput11" class="form-control" ng-model='defaultMove' ng-options="move.name for move in moves">
        </select>
    </div>
    <p>
    <input class="btn btn-lg btn-success" value='Move' type="button" ng-click='playerCtrl.addMove()'>
    <!-- Move</input> -->
    </p>
</div>
